:host {
  display: block;
  position: relative;
  right:0px;
  /*max size for widescreen support*/
  --line-color: MidnightBlue;
  font-family: 'Open Sans', 'Helvetica', sans-serif;

}

h1,h2 {
  font-family: 'Catamaran', 'Bahnschrift', sans-serif;
}

.eventList {
  max-width:2160px;
  position: relative;
  list-style: none;
  margin:0;
  padding: 0 2rem 0 2rem;
  /*this font size controls all other list elements for maximum responsibility.*/
  font-size: clamp(10pt,1.1vw,14pt);
}
@media screen and (min-width: 2160px) {
  .eventList {
    left: 50%;
    transform: translateX(-50%);
  }
}

li {
  display:grid;
  grid-template-columns: 1fr 6fr 3fr;
  margin: 2rem;
  margin-left: clamp(0px,2rem,30px);
  cursor: pointer;
}

.event {
  border-style: solid;
  border-color: var(--line-color);
  border-width: 0px 0px 0px 5px;
  transition: opacity 1s, border-width 0.5s,margin 0.5s;
  padding-left: 2em;
  padding-right: 2em;
}

.event h2 {
  font-weight: 700;
  color: #1a1a1a;
  font-size: 2em;
  line-height: 1.3em;
  display: block;
  cursor: pointer;
  margin: 0;
}

.event:hover:not(.details) {
  border-width: 0 0 0 10px;
  margin-right: -5px;
}
.time {
  font-weight: 400;
  font-size: .9em;
  margin: 0 0 0.5em 0;
  color: #404044;
}
.date {
  text-align: center;
  padding: 0 5px 0 5px;
}
.dateNumber {
  font-size:2em;
  font-weight: 700;
  margin-top:0;
  line-height: 26pt;
}
.city {
  display: inline-block;
  font-size: inherit;
  font-weight: 700;
  margin: 0;
  min-width: 4em;
}
.info {
  color: #404040;
  font-size: 1em;
}
p.weekday {
  display: inline-block;
  min-width: 9em;
  margin: 0
}

h4 {
  margin: 0 0 0.2em 0;
  font-weight: normal;
}

.adress,.location,.clickDate {
  cursor: pointer;
  display:table;
  transition: transform 0.3s;
  
}

.adress:hover,.location:hover,.clickDate:hover {
  transform:scale(1.005,1.005)
}

h4::after{
  content: "\a";
  white-space: pre;
}
.detail {
  margin: 0;
  display: inline-block;
  font-weight: bold;
  width:100px;
}
.description {
  margin-bottom:0.1em;
  text-align:justify;
  font-size: 0.9em;
  max-width: 75vw;
  cursor: pointer;
}
.details {
  display: none;
  font-size: 0.9em;
}
.eventText {
  margin:0;
  cursor: pointer;
  font-size: inherit;
}
.eventImage {
  background-position: center;
  background-color: lightgray;
  background-size: cover;
  background-position: top;
  cursor:pointer;
  transition: transform 0.5s;

}
li:hover .eventImage {
  transform: translate(5px);
}

.eventImage:hover {
  transform: scale(1.01,1.01) !important;
}


.buttonFrame {
  transform: translateX(-50%);
  left: 50%;

  padding: 0 4rem 10px 4rem;
  position: relative;
  max-width:2160px;
  
  color:#404040;
  font-size: 12pt;
  transition: background 0.2s ease-in;
}

.detailButton {
  display: inline-block;
  cursor: pointer;
  margin-bottom: 0;
}

.detailButton:hover {
  color:#1a1a1a;
}


.sortButton {
  position: absolute;
  right:4rem;
  top:0px;
  cursor: pointer;
}
.sortButton:hover {
  color:#1a1a1a;
}

.yearHeader {
  text-align: center;
  position: absolute;
  font-size: 1em;
  left: 50%;
  width: 4em;
  transform: translate(-50%,-50%);
  background-color: var(--custom-white);
  z-index: 1000;
}

hr {
  opacity: 0.3;
}
a {
  color:#1f487E;
  transition: color 0.5s;
}
a:hover {
  color: #247Ba0;
}

@keyframes appearFromBottom {
  0% {
    transform: translateY(5%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animated {
  animation: 1.5s ease-out 0s 1 appearFromBottom;
}
.fadeIn {
  animation: 2s ease-out 0s fadeIn;
}