button {
    cursor: pointer;
    transition: opacity 0.3s;
    &:hover:not(:active) {
        opacity: 0.9;
    }
    &:active {
        transition: none;
    }
}

.delete {
    label:not(.active) {
        opacity: 0.5;
    }
}

#delete-event-button,#delete-image-button {
    background-color: var(--red);
}
#update-event-button, #rename-image-button {
    background-color: var(--light-blue);
}
.delete button, #upload-image-button {
    text-transform: uppercase;
    background-color: var(--blue);
    border: none;
    padding: 0.5rem;
    color: white;
    width: 100%;
}
.preview-image-button,.copy-url-button {
    position: absolute;
    right:1rem;
    top:50%;
    transform: translateY(-50%);
}
#update-preview-button {
    display: none;
}
.index-buttons {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);

    .update-index-button {
        width:1.5rem;
        height: 1.5rem;
        margin-left: 0.5rem;
        background: var(--blue);
        color: white;
        border: none;
        border-radius: 0;
        padding: 0;
        i {
            pointer-events: none;
            display: grid;
            place-items: center;
        }
    }
}


#image-file-input:invalid ~ #uploaded-image-name {
    opacity: 0.4;
}