#image-preview {
    max-width: 100%;
}
label.custom-upload {
    .description {
        margin-left: 2rem;
        padding: 0.5rem;
        cursor: pointer;
        border: 1px solid lightgray;
    }
    input[type=file] {
        display: none;
    }
}
.center-vertical  {
    display: flex;
    align-items: center;
}
#uploaded-image-name {
    margin-left: 1rem;
    cursor: pointer;
}
.preview-image-input:not(#image-name-input) {
    pointer-events: none;
}