:root {
    --red:#941C2F;
    --green:#7FB800;
    --blue:#0D2C54;
    --light-blue:#00A6ED;
    --orange: #FFB400;

    --login-colour: var(--light-blue);
    --body-padding: 3rem;
    @media screen and (max-width:1000px) {
        --body-padding: 1rem;
    }
}
