:root {
  --red:#941C2F;
  --green:#7FB800;
  --blue:#0D2C54;
  --light-blue:#00A6ED;
  --orange: #FFB400;
  --login-colour: var(--light-blue);
  --body-padding: 3rem;
}

.login {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* Style the input container */
  /* Style the form icons */
  /* Style the input fields */
  /* Set a style for the submit button */
}
.login #login-button, .login #logout-button {
  display: flex;
  align-items: center;
  white-space: nowrap;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 2rem;
  transition: transform 0.3s;
}
.login #login-button i, .login #logout-button i {
  margin-right: 0.5rem;
  font-size: 2rem;
}
.login #login-button:hover, .login #logout-button:hover {
  transform: scale(1.05);
}
.login #logout-button {
  display: none;
}
.login.logged-in #login-button, .login.logged-in input, .login.logged-in .icon {
  display: none;
}
.login.logged-in #logout-button {
  display: flex;
}
.login input {
  margin: 0;
  border: 1px solid #bbb;
}
.login input:hover, .login input:focus {
  box-shadow: none;
}
.login > * {
  height: min-content;
}
.login .input-container {
  display: flex;
  width: 100%;
}
.login .icon {
  margin-left: 2rem;
  font-size: 1.3rem;
  transform: none;
  padding: 10px;
  background: var(--login-colour);
  color: white;
  min-width: 50px;
  text-align: center;
}
.login .input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}
.login .input-field:focus {
  border: 1px solid var(--login-colour);
}
.login .btn {
  background-color: var(--login-colour);
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.login .btn:hover {
  opacity: 1;
}

#menu-icon {
  z-index: 2;
  font-size: 2rem;
  margin: auto;
  margin-right: 0;
  display: none;
  cursor: pointer;
  transition: transform 0.3s;
}
#menu-icon:hover:not(:active) {
  transform: scale(1.1);
}

@media screen and (max-width: 1000px) {
  .login {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }
  .login.open {
    opacity: 1;
    pointer-events: all;
  }
  .login input {
    margin-right: 2rem;
  }

  #menu-icon {
    display: block;
  }
}
body {
  margin: 0;
  min-height: 100vh;
  padding: 0 var(--body-padding) 0 var(--body-padding);
}

* {
  font-family: "Lexend", "Mulish", "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

.title {
  margin-top: 1.8rem;
  margin-bottom: 1.4rem;
}

.title, .title a {
  font-family: "Catamaran", "Lexend", sans-serif;
  font-weight: 100;
  font-size: 42pt;
}

header {
  width: 100vw;
  max-width: 100vw;
  z-index: 1;
  background-color: white;
  position: sticky;
  top: 0;
  left: 0;
  margin-left: calc(-1 * var(--body-padding));
  margin-right: calc(-1 * var(--body-padding));
  overflow: hidden;
  padding: 0 var(--body-padding) 0 var(--body-padding);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#error-message {
  color: var(--orange);
  position: absolute;
  top: 100%;
  left: 50%;
  margin: 0;
  pointer-events: none;
  transform: translate(-50%, -150%);
}

.icon {
  height: 3rem;
  transform: translateY(0.5rem);
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  padding-right: 1rem;
}

.center {
  display: flex;
  justify-content: center;
}

.forms {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 3rem;
  flex-wrap: wrap;
}
.forms > * {
  flex: 1 1 600px;
}
@media (max-width: 1000px) {
  .forms {
    flex-direction: column;
  }
}

form {
  background-color: #f0f0f0;
  padding: 40px;
  padding-top: 0;
  margin-bottom: 1rem;
}
form h2 {
  font-weight: 800;
  text-align: center;
}
form a i {
  pointer-events: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li {
  margin-bottom: 20px;
  display: flex;
  position: relative;
}
ul li label {
  min-width: 150px;
}
@media screen and (max-width: 1000px) {
  ul li {
    flex-direction: column;
  }
}

input, textarea {
  width: 100%;
  display: inline-block;
  border: none;
  outline: none;
  border-radius: 0px;
  min-height: 2rem;
  transition: box-shadow 0.3s;
}
input:hover, input:focus, textarea:hover, textarea:focus {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
input:not(:focus), textarea:not(:focus) {
  cursor: pointer;
}

textarea {
  resize: vertical;
  height: 4rem;
}

input[type=submit] {
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: var(--green);
  padding: 0.5rem;
  color: white;
}

.error {
  color: var(--red);
}

button {
  cursor: pointer;
  transition: opacity 0.3s;
}
button:hover:not(:active) {
  opacity: 0.9;
}
button:active {
  transition: none;
}

.delete label:not(.active) {
  opacity: 0.5;
}

.two-buttons {
  gap: 2rem;
}

#delete-event-button, #delete-image-button {
  background-color: var(--red);
}

#update-event-button, #rename-image-button {
  background-color: var(--light-blue);
}

.delete button, #upload-image-button {
  text-transform: uppercase;
  background-color: var(--blue);
  border: none;
  padding: 0.5rem;
  color: white;
  width: 100%;
}

.preview-image-input:not(#image-name-input) {
  pointer-events: none;
}

.preview-image-button, .copy-url-button {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.container {
  position: relative;
  width: 100%;
}

#image-preview {
  max-width: 100%;
}

.index-buttons {
  position: absolute;
  right: 3rem;
  top: 50%;
  transform: translateY(-50%);
}
.index-buttons .update-index-button {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.5rem;
  background: var(--blue);
  color: white;
  border: none;
  border-radius: 0;
  padding: 0;
}
.index-buttons .update-index-button i {
  pointer-events: none;
  display: grid;
  place-items: center;
}

label.custom-upload {
  margin-left: 2rem;
  padding: 0.5rem;
  cursor: pointer;
  border: 1px solid lightgray;
}
label.custom-upload input[type=file] {
  display: none;
}

.center-vertical {
  display: flex;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
